---
import { City as CN } from "country-state-city";

import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/hero.astro";
import TourAgencies from "@components/tourAgencies.astro";
import { getSlug } from "@utils/all.ts";

export function getStaticPaths() {
  return CN?.getAllCities().map((city) => ({
    params: { city: decodeURI(getSlug(city.name)) },
  }));
}

const { city } = Astro.params;

const titleCaseCity = city.charAt(0).toUpperCase() + city.slice(1);
---

<Layout title={`Guide your way in ${titleCaseCity}`}>
  <Container>
    <Hero
      title={`Guide your way in ${titleCaseCity}.`}
      subtitle={`Get gigs from local tour companies in ${titleCaseCity}. You choose the jobs you want, the hours you want, and what you want to do.`}
      ctaText="Sign Up Now – It’s Free"
      secondaryCtaText="Learn How It Works"
    />
    <h2 class="text-center text-slate-500">
      Work with the best agencies around {titleCaseCity}
    </h2>
    <TourAgencies place={titleCaseCity} searchLive={false} />
  </Container>
</Layout>
