---
import { Country as CN, City } from "country-state-city";

import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/hero.astro";

const { country } = Astro.params;

const titleCaseCountry = country.charAt(0).toUpperCase() + country.slice(1);

const activeCountry = CN?.getAllCountries().find(
  (c) => c.name === titleCaseCountry
);

const countryCode = activeCountry?.isoCode;
const flag = activeCountry?.flag;

const cities = City?.getCitiesOfCountry(countryCode).sort((a, b) =>
  a.name.localeCompare(b.name)
);

const uniqueCities = Array.from(new Set(cities.map((city) => city.name)));
---

<Layout title={`Guide your way in ${titleCaseCountry}`}>
  <Container>
    <Hero
      title={`Guide your way in ${titleCaseCountry}.`}
      subtitle={`Get gigs from local tour companies in ${titleCaseCountry}. You choose the jobs you want, the hours you want, and what you want to do.`}
      ctaText="Sign Up Now – It’s Free"
      secondaryCtaText="Learn How It Works"
    />
    <h2 class="text-center text-slate-500">Guide your {flag} city</h2>

    <!-- List all cities -->
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        uniqueCities.map((city: string) => (
          <li class="p-4 bg-white shadow rounded-lg">
            <a href={`/cities/${city.toLowerCase()}`}>{city}</a>
          </li>
        ))
      }
    </ul>
  </Container>
</Layout>
