---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/hero.astro";
import TourAgencies from "../../data/tourAgencies.json";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import OlMap from "@components/olMap.vue";
import { getSlug } from "@utils/all";
import HowItWorksCompany from "@components/howItWorksCompany.astro";

export async function getStaticPaths() {
  let features = TourAgencies.features.map((company) => {
    return {
      ...company,
      name: (
        company.properties["name:en"] ??
        company.properties["name:uk"] ??
        company.properties.name
      )
        ?.trim()
        .normalize(),
      website:
        company.properties["contact:website"] ??
        company.properties.website ??
        undefined,
    };
  });

  // Filter out companies without a name
  features = features.filter(
    (company) =>
      company.name?.length > 1 &&
      // Obly alpahnumeric characters and spaces
      company.name.match(/^[a-zA-Z0-9 ]+$/)
  );

  // Make sure each name is unique
  features = features.filter(
    (company, index, self) =>
      index ===
      self.findIndex((t) => t.name.toLowerCase() === company.name.toLowerCase())
  );

  return features
    .map((company) => ({
      params: {
        // Slugify the name
        companyName: getSlug(company.name),
      },
      props: {
        company: company,
      },
    }))
    .filter((company) => company.params.companyName);
}

const { company } = Astro.props;
---

<Layout title={`Guide your way with ${company.name}`}>
  <Container>
    <Hero
      title={`Guide your way with ${company.name}${company.properties["addr:city"] ? " in " + company.properties["addr:city"] : ""}.`}
      subtitle={`Get local gigs with ${company.name}. You choose the jobs you want, the hours you want, and what you want to do.`}
      ctaText="Sign Up Now – It’s Free">
      <Link
        href="#"
        href="/sign-up"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Sign Up Now - It's Free
        <Icon class="text-white w-5 h-5" name="bx:bx-right-arrow-alt" />
      </Link>

      {
        company.properties["addr:city"] && (
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={`/cities/${company.properties["addr:city"]}`}
            class="flex gap-1 items-center justify-center">
            Explore more in {company.properties["addr:city"]}
          </Link>
        )
      }
      <div
        slot="picture"
        class="md:order-1 block h-full w-full min-h-96 pb-6 md:pb-0">
        <OlMap
          client:only
          type={company.geometry.type}
          coordinates={company.geometry.coordinates}
        />
      </div>
    </Hero>
    <HowItWorksCompany
      title=`Start guiding with ${company.name}`
      companyName={company.name}
      description={company.properties.description ?? company.properties.note}
    />
  </Container>
</Layout>
